body {
  background-color: var(--neilwhite);
  font-family: 'Atlas Grotesk';
  font-size: .9rem;
  line-height: 1.3;
  color: #000;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  --neilwhite: #cfd5e0;
}

#term {
  width: 90vw;
  padding: 2rem;
  border: .5px solid #000;
  border-radius: 10px;
}

@media screen and (min-width: 800px) {
  #term {
    width: 700px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a:hover, .copy:hover {
  color: #9dff48;
}

.resource {
  text-decoration: underline;
}

.lspacer {
  height: 40px;
}

.mspacer {
  height: 20px;
}

.sspacer {
  height: 7px;
}
