@font-face {
    font-family: "Roboto Condensed";
    src: url("./assets/fonts/RobotoCondensed-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Cartograph CF";
    src: url("./assets/fonts/CartographCF-Regular.otf");
    font-style: normal;
}

@font-face {
    font-family: "Cartograph CF";
    src: url("./assets/fonts/CartographCF-RegularItalic.otf");
    font-style: italic;
}

body {
    background-color: #fff5eb;
    overflow: scroll;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover, a:active {
    color: #89d7ab;
}

#head-spacer {
    height: 250px;
}

#tag {
    font-family: "Roboto Condensed";
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 30px;
}

#bio {
    font-family: "Cartograph CF";
    font-size: 15px;
    text-align: center;
    margin: auto;
    width: 50%;
}

#inquiries {
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    margin: 50px;
}

#github, #linkedin {
    display: inline-block;
    width: 35px;
    margin: 5px 10px;
}

#mid-spacer {
    height: 300px;
}

#dev-projects, #history-day, #podcast {
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 30px;
}

.project {
    font-family: "Cartograph CF";
    font-size: 15px;
    font-style: italic;
    text-align: center;
    line-height: 1.5;
}

sup {
    font-size: 8px;
    font-style: normal;
}

.under-construction {
    font-family: "Cartograph CF";
    font-size: 15px;
    font-style: italic;
    text-align: center;
    line-height: 1.5;
    color: #df6c48
}

.work-spacer {
    height: 200px;
}

#find-me {
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

#social {
    margin: 30px;
    text-align: center;
}

#bottom-spacer {
    height: 75px;
}

#foot {
    font-family: "Cartograph CF";
    font-size: 11px;
    text-align: center;
    margin: 20px;
}
